@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    line-height: 1;
    font-family: var(--primary-family-font);
}
a {text-decoration: none;}

/* tailwind */
.color-icon-primary {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    aspect-ratio: 1;
}
.user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/* tailwind */

::-webkit-scrollbar {
    display: none;
}

html, html * {
    scroll-behavior: smooth;
}

/* html.sr .itens-section, */
html.sr .headline,
html.sr .window
{visibility: hidden;}
