@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    font-size: 62.5%;
    --primary-family-font: "Montserrat", sans-serif;
    --primary-text-color: #ccc;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{display:none;}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: var(--primary-family-font);
    background: #000;
    color: var(--primary-text-color);
}

nav {
    position: fixed;
}

main {
    display: grid;
    scroll-behavior: smooth;
    overflow: hidden scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    padding-inline: 7vw;
}

section {
    scroll-snap-align: start;
    /* border: 1px red solid; */
    width: 100%;
    min-height: 100vh;
}


.section-lading {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
    grid-template-rows: 1fr max-content;
    place-content: center;
    padding-block: 2vw;
    gap: 1rem;

    h4 {
        font-size: 14px;
        font-weight: 400;
    }
    strong > h1 {
        font-size: 4rem;
        font-weight: 1000;
        font-family: var(--c);
    }

    & .initial-text {
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
    }
    aside {
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: end;
    }
    
    & .footer-lading {
        justify-self: end;
        align-self: flex-end;
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        gap: 1rem;
        justify-content: end;
        position: relative;
        
        * {
            color: var(--primary-text-color);
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translate(-100%, -50%);
            width: 10rem;
            height: .05rem;
            background: #cccccc97;
        }
    }
}