@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  font-size: 62.5%;
  --primary-family-font: "Montserrat", sans-serif;
  --primary-text-color: #ccc;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--primary-family-font);
  background: #000;
  color: var(--primary-text-color);
}

nav {
  position: fixed;
  top: 50%;
  left: 3vw;
  height: 15rem;
  width: max-content;
  transform: translate(0, -50%);
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    a {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        // content: "";
        width: 0.02;
        height: 4rem;
        background: #ccc;
        position: relative;
        // top: 0;
        // left: 50%;
      }
    }
  }
}

main {
  display: grid;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  padding-inline: 7vw;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50%;
  overflow: hidden;
}
aside > img {
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 9/14;
  -webkit-mask-image: linear-gradient(transparent 10%, black 90%);
  // mask-image: linear-gradient(transparent 10%, black 90%);
  filter: contrast(110%);
}

section {
  scroll-snap-align: start;
  /* border: 1px red solid; */
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.section-lading {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  // padding-block: 2vw;
  gap: 1rem;

  h4 {
    font-size: 14px;
    font-weight: 400;
  }
  strong > h1 {
    font-size: 4rem;
    font-weight: 1000;
    font-family: var(--c);
  }

  & .footer-lading {
    display: flex;
    gap: 1rem;
    justify-content: end;
    position: absolute;
    bottom: 2rem;
    right: -2rem;

    * {
      color: var(--primary-text-color);
    }

    a:nth-child(1)::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -1rem;
      transform: translate(-100%, -50%);
      width: 10rem;
      height: 0.05rem;
      background: #cccccc97;
    }
  }
}
