
body {
  background: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
  line-height: 1;
}

header {
  --blur-value: 15px;
  border-bottom: 0.05rem solid var(--prymary-hover-color2);
  -webkit-backdrop-filter: blur(var(--blur-value));
  backdrop-filter: blur(var(--blur-value));
  background: transparent;
  padding: 2.5rem var(--viewport-padding);
  transition: var(--transition-primary);
  justify-content: space-between;
  transform: translate(-50%, 0);
  align-items: center;
  position: fixed;
  display: flex;
  /* width: 100vw; */
  width: clamp(100vw, 100vw, 100vw);
  z-index: 1;
  left: 50%;
  top: 0;

  &.header-no-show {
    transform: translate(-50%, -100%);
  }

  strong {
    display: flex;
    align-items: center;

    img {
      height: 5rem;
      margin-right: .5rem;
      object-fit: contain;
      aspect-ratio: 1;
      /* mix-blend-mode: color-burn; */
    }
  }

  strong,
  ul li {
    font-size: 1.3rem;
    font-weight: 800;
  }

  & > ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    
    & * {
      cursor: pointer;
      color: var(--primary-text-color);
    }

    li.footer-lading {
      position: relative;
      display: flex;
      gap: 1rem;
      height: 100%;
      /* justify-content: end;
      width: max-content; */
  
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(calc(-100% - 1rem), -50%);
        width: 11rem;
        height: 0.05rem;
        background: #cccccc97;
      }
  
      .anchor-social-medias {
        height: 100%;
        aspect-ratio: 1;
        
        img {
          height: 2rem;
          aspect-ratio: 1;
          cursor: pointer;
          fill: var(--primary-text-color);
        }
      }
    }

    li:has(> a) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 1.4rem;
      border-radius: 0.7rem;
      transition: 0.25s ease;
    }
    li:has(> a):hover {
      background: var(--prymary-hover-color);
    }


    li.about_li_button {
      position: relative;
      transition: 0.25s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 1.4rem;
      border-radius: 0.7rem;

      img {
        margin-left: 0.3rem;
        width: 1.2rem;
      }

      &:hover {
        background: var(--prymary-hover-color);

        img {
          transform: rotate(180deg);
        }
      }
  
      & * {
        transition: 0.25s ease;
      }

      &:has(:hover) .about_li_button_hover ul,
      &:hover .about_li_button_hover ul {
        display: flex;
      }

      .about_li_button_hover {
        position: absolute;
        top: 100%;
        right: 0;
      }
      
      .about_li_button_hover ul {
        display: none;
        width: 30rem;
        overflow: hidden;
        margin-top: 1rem;
        padding: 1.6rem;
        border-radius: .5rem;
        flex-direction: column;
        box-shadow: 0 0 0 .2px var(--primary-text-color);
        background: var(--background-hover-color);
        cursor: default;
        & * {cursor: default;}
        
        li:nth-child(1) {
          display: flex;
          justify-content: space-between;
          width: 100%;
          /* border-bottom: 1px solid var(--primary-text-color); */
          padding: 1rem 1.2rem;
          align-items: center;

          .theme-checkbox {
            --toggle-size: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 4.5rem;
            height: 2.2rem;
            background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
            background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
            background-size: 205%;
            background-position: 0;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            border-radius: 99em;
            position: relative;
            cursor: pointer;
            font-size: var(--toggle-size);
          }
          .theme-checkbox::before {
            --padding-value: .45rem;
            content: "";
            width: 1.3rem;
            aspect-ratio: 1;
            position: absolute;
            top: 50%;
            transform: translate(var(--padding-value), -50%);
            left: 0;
            background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
            background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
            background-size: 205%;
            background-position: 100%;
            border-radius: 50%;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
          }
          .theme-checkbox:checked::before {
            left: 100%;
            transform: translate(calc(-100% - var(--padding-value)), -50%);
            background-position: 0;
          }
          .theme-checkbox:checked {
            background-position: 100%;
          }
        }


        li:nth-child(2) {
          flex-direction: column;
          white-space: nowrap;
          display: flex;
          gap: .5rem;
          
          span {
            border-radius: .5rem;
            padding: 1.2rem;
            transition: .25s ease;
            font-weight: 500;
            line-height: 1;
            font-size: 1.2rem;
            /* cursor: pointer; */

            p {
              margin-top: .5rem;
              color: var(--paragraph-primary-color);
              white-space: normal;
              line-height: 1.4;
              font-weight: 300;
            }

            &:hover {
              background-color: var(--prymary-hover-color);
            }
          }
        }
      }
    }
  }
}

main {
  position: relative;
  display: grid;
  overflow: visible scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  padding-inline: var(--viewport-padding);

  & > section {
    scroll-snap-align: start;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }
}


.section-landing {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);

  .initial-text {
    z-index: 1;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    strong {
      /* margin-bottom: 2rem; */
      > h1 {
        line-height: auto;
        height: max-content;
        font-size: 4.8rem;
        font-weight: 900;
        white-space: nowrap;
      }
    }
      
    h2 {
      font-size: 14px;
      font-weight: 400;
      color: var(--secundary-text-color);
      line-height: 1;
       /* animation: slide-in 0.8s ease forwards; */
    }

    .aside-text {
      display: flex;
      gap: 1rem;

    }
    .circle_on {
      margin-top: 2.5px;
      border-radius: 50%;
      aspect-ratio: 1;
      height: 1rem;
      background-color: var(--secundary-text-color);
      filter: drop-shadow(0 0 1px #fff);
      animation: .7s shadow-circle infinite alternate ease;
    }
    
    a.cv_button_acess {
      position: relative;
      display: flex;
      gap: .5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      height: 4rem;
      width: 80%;
      border-radius: 2rem;
      font-weight: 500;
      color: var(--background-color);
      background: var(--primary-text-color);
      white-space: nowrap;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      overflow: hidden;
      transition: var(--transition-button);

      &:hover {
        box-shadow: 0 0 10px rgba(250, 250, 250, 0.5);
      }
      
      .arrow-icon {
        position: relative;
        margin-left: .5rem;
        height: 100%;

        & > * {
          position: absolute;
          transform: translate(0, -50%);
        }

        img:nth-child(1) {
          top: 50%;
          left: 0;
          aspect-ratio: 1;
          height: calc(100% - 1rem);
          transition: var(--transition-button);
        }
        img:nth-child(2) {
          top: 7rem;
          left: -5rem;
          aspect-ratio: 1;
          height: calc(100% - 1rem);
          transition: var(--transition-button);
        }
      }
      &:hover .arrow-icon img:nth-child(1) {
        top: -5rem;
        left: 5rem;
      }
      &:hover .arrow-icon img:nth-child(2) {
        top: 50%;
        left: 0;
      }
    }
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: hidden;

    img {
      transition-delay: 1s;
      max-height: 100%;
      object-fit: contain;
      aspect-ratio: 9/14;
      filter: contrast(110%);
      /* animation: slide-in-toTop 1.5s ease forwards; */
       /* -webkit-mask-image: linear-gradient(transparent 10%, black 90%); */
       /* mask-image: linear-gradient(transparent 10%, black 90%); */
    }
  }

  .scroll-lading {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translate(-50%, 0);
    
    img {
      animation: scroll_indicator 4s infinite ease-in-out forwards;
      transform: translate(-50%, 0) rotate(180deg);
      cursor: pointer;
      filter:
        invert(1)
        opacity(70%)
        drop-shadow(0 0 5px #fafafa00);
      transition: .5s ease;
      animation-play-state: running;
    
      &:hover {
        animation-play-state: paused;
        filter:
          invert(1)
          opacity(100%)
          drop-shadow(0 0 5px #fafafa);
      }
    }
  }
}

.section-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden scroll;
  position: relative;
  gap: 3rem;
  
  > section {
    display: flex;
    min-height: 100vh;
    width: 100%;
    /* border: 1px red solid; */
    /* overflow: hidden; */
  }
  h1 {
    font-size: 4.8rem;
    font-weight: 900;
  }
  
  section.about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-card {
      display: grid;
      gap: 4rem;
      place-items: center;
      grid-template-columns: .9fr 1.1fr;

      & > * {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        /* border: 1px solid red; */
        
        img {
          max-width: 30rem;
          object-fit: cover;
          aspect-ratio: 3/4;
          filter: contrast(115%) saturate(150%);
        }
      }

      figure {
        display: grid;
        justify-content: center;
      }

      article {
        --gap: 2.5rem;
        --border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: left;
        padding: 3rem;
        gap: var(--gap);
        border-radius: var(--border-radius);
        border: var(--primary-border-value);
        background-color: var(--background-secundary-color);

        p, p a {
          line-height: 1.55;
          font-weight: 300;
          color: var(--paragraph-primary-color);
          
          a { text-decoration: underline;}
        }
      }
    }
  }

  section.skills {
    display: flex;
    justify-content: center;
    align-items: center;

    .skills-area {
      display: grid;
      grid-template-rows: max-content 1fr;
      width: 100%;
      align-items: start;
      gap: 3rem;

      ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;

        li {
          background-color: var(--background-secundary-color);
          border-radius: 1rem;
          padding: 2rem;
          border: 1px solid var(--border-color);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: max-content;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          gap: 1rem;
          transition: filter .2s ease;

          &:last-child {
            grid-column: 3;
          }
        }
        
        &:has(li:hover) li:not(:hover) {
          filter: opacity(50%);
        }
      }
    }
  }

  section.projects {
    --spacing: 2rem;
    flex-direction: column;
    border: none;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    padding-top: 10vh;
    gap:
      var(--spacing)
      calc(
        var(--spacing) * 1.2
      );

    h2 {
      color: var(--paragraph-primary-color);
      white-space: normal;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 300;
      
      button.git-button {
        display: flex;
        background-color: var(--primary-text-color);
        border: none;
        border-radius: 1rem;
        padding: .8rem 1.4rem;
        gap: .5rem;
        color: var(--background-color);
        font-weight: 700;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: var(--spacing);
        
        img {
          width: 2rem;
          aspect-ratio: 1;
        }
      }
    }

    .projects-list {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      
      & > * {
        --gap: 2.5rem;
        --border-radius: 1.5rem;
        padding: 2.5rem;
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        gap: var(--gap);
        border-radius: var(--border-radius);
        border: var(--primary-border-value);
        background-color: var(--background-secundary-color);

        figure {
          border-radius: calc(var(--border-radius) / 2);
          box-shadow: 0 1rem 2.5rem #000;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          img.project-image {
            width: 100%;
            aspect-ratio: 6/3;
            object-fit: cover;
            border-radius: calc(var(--border-radius) / 2);
            position: relative;
          }
        }

        figure.Aesthetkit {
          &::before {
            content: "";
            backdrop-filter: blur(50px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          &::after {
            content: "Em construção...";
            transform: translate(-50%, -50%) rotate(-25deg);
            font-weight: bold;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            width: 150%;
            padding: 1rem 0;
            background-color: #ffbe0c;
            text-shadow: 0 .8rem 1rem #000000d3;
            box-shadow:
              inset 0 0 2rem rgba(0, 0, 0, 0.8),
              0 0 2.5rem #000;
          }
        }

        .legend {
          padding-top: var(--gap);
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: .5rem;
          line-height: 1;

          h1 {
            font-size: 1.7rem;
          }

          p {
            color: var(--paragraph-primary-color);
            white-space: normal;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: 300;
          }

          a {
            color: var(--primary-text-color);
            margin-top: .7rem;
            font-size: 1.4rem;
          }

          &::before {
            content: ""; 
            width: 100%;
            height: 1px;
            border-radius: 999px;
            background-color: var(--border-color);
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .button-project {
          width: 100%;
          height: max-content;
          display: flex;
          justify-content: center;
          
          a {
            width: 100%;
            
            button.git-button {
              display: flex;
              background-color: var(--background-color);
              border: var(--primary-border-value);
              border-radius: 1rem;
              padding: .8rem 1.3rem;
              width: 100%;
              gap: .5rem;
              color: var(--primary-text-color);
              justify-content: center;
              align-items: center;
              cursor: pointer;
              
              img {
                width: 2rem;
                aspect-ratio: 1;
              }
            }
          }
        }
      }
    }
  }

  section.contact {
    flex-direction: column;
    margin-top: 6rem;
    justify-content: end;
    align-items: center;
    padding-bottom: 3.2rem;
    min-height: max-content;
    
    footer {
      background-color: var(--background-secundary-color);
      border: var(--primary-border-value);
      border-radius: 1.5rem;
      position: relative;
      width: 100%;

      .footer-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3.4rem;
        
        p {
          color: var(--paragraph-primary-color);
          font-weight: 300;
        }

        label.send-button {
          display: flex;
          background-color: var(--primary-text-color);
          border: none;
          border-radius: 3rem;
          padding: 1.3rem 2.5rem;
          width: max-content;
          gap: .5rem;
          color: var(--background-color);
          font-weight: 700;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-top: .5rem;
          font-weight: 500;
          
          a {
            position: relative;
            color: var(--background-color);
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }

          img {
            width: 2rem;
            aspect-ratio: 1;
            /* transform: rotate(-45deg); */
          }
        }
      }
      
      ul {
        padding: 2.4rem;
        border-top: 1px solid var(--border-color);
        justify-content: center;
        display: flex;
        gap: 1rem;
        
        li a {
          transition: var(--transition-primary);
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          border: var(--primary-border-value);
          border-radius: .6rem;
          padding: .7rem;
          background-color: var(--background-color);
          
          img {
            aspect-ratio: 1;
            object-fit: contain;
            width: 2rem;
          }

          &:hover {
            box-shadow:
              inset 0 0 15px rgba(255, 255, 255, .3),
              0 0 10px rgba(255, 255, 255, .2);
          }
        }
      }
    }
  }
}


@keyframes shadow-circle {
  from {
    filter:
      drop-shadow(0 0 5px #fff)
      drop-shadow(0 0 10px rgba(255, 255, 255, .45));
  }
}
@keyframes scroll_indicator {
  0%, 35%, 75%, 100% { transform: translate(-50%, 0) rotate(180deg); }
  15%, 55% { transform: translate(-50%, 1rem) rotate(180deg); }
}
@keyframes slide-out {
  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slide-in-toTop {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
