@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import 'colorMode';

:root {
  font-size: 62.5%;
  --viewport-padding: 15vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  line-height: 1;
  font-family: $primary-family-font;
}

html, html * { scroll-behavior: auto !important; }
::-webkit-scrollbar { display: none; }
a {text-decoration: none;}
