@import 'globals';

header {
    $blur-value: 20px;
    -webkit-backdrop-filter: blur($blur-value);
    backdrop-filter: blur($blur-value);
    border-bottom: 0.05rem solid $prymary-hover-color;
    background: $background-color2;
    padding: 2.5rem $viewport-padding;
    transition: $transition-primary;
    width: clamp(100vw, 100vw, 100vw);
    justify-content: space-between;
    transform: translate(-50%, 0);
    align-items: center;
    /* overflow: hidden; */
    position: fixed;
    display: flex;
    z-index: 2;
    left: 50%;
    top: 0;

    &.header-no-show {
        transform: translate(-50%, -100%);
    }

    strong {
        display: flex;
        align-items: center;

        img {
            height: 5rem;
            margin-right: 0.5rem;
            object-fit: contain;
            aspect-ratio: 1;
            filter: drop-shadow(0 0 2px #fff);
        }
    }

    strong,
    ul li {
        font-size: 1.3rem;
        font-weight: 800;
    }

    & > ul {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;

        & * {
            cursor: pointer;
            color: $primary-text-color;
        }

        li:has(> a) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8rem 1.4rem;
            border-radius: 0.7rem;
            transition: 0.25s ease;

            &:hover {
                background: $prymary-hover-color;
            }
        }

        li.about_li_button {
            $time-animation: 0.2s;
            position: relative;
            transition: 0.25s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8rem 1.4rem;
            border-radius: 0.7rem;

            img {
                margin-left: 0.3rem;
                width: 1.2rem;
            }

            & * {
                transition: 0.25s ease;
            }

            &:not([extend]) .about-li-hover-area {
                animation: no-extend-about $time-animation ease forwards;
            }

            .about-li-hover-area {
                position: absolute;
                cursor: default;
                top: 100%;
                right: 0;

                ul {
                    $padding-about-header: 1.6rem;
                    $radius-about-header: .5rem;
                    animation: extend-about $time-animation ease forwards;
                    width: 30rem;
                    overflow: hidden;
                    margin-top: 1rem;
                    padding: $padding-about-header;
                    border-radius: $radius-about-header;
                    flex-direction: column;
                    border: $primary-border-value;
                    background: $background-hover-color;

                    li:nth-child(1) {
                        $padding-value: 0.45rem;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;

                        .theme-checkbox {
                            $toggle-size: 16px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 4.5rem;
                            height: 2.2rem;
                            background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
                            background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
                            background-size: 205%;
                            background-position: 0;
                            -webkit-transition: 0.4s;
                            -o-transition: 0.4s;
                            transition: 0.4s;
                            border-radius: 99em;
                            position: relative;
                            cursor: pointer;
                            font-size: $toggle-size;
                        }
                        .theme-checkbox::before {
                            content: "";
                            width: 1.3rem;
                            aspect-ratio: 1;
                            position: absolute;
                            top: 50%;
                            transform: translate($padding-value, -50%);
                            left: 0;
                            background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
                            background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
                            background-size: 205%;
                            background-position: 100%;
                            border-radius: 50%;
                            -webkit-transition: 0.4s;
                            -o-transition: 0.4s;
                            transition: 0.4s;
                        }
                        .theme-checkbox:checked::before {
                            left: 100%;
                            transform: translate(calc(-100% - $padding-value), -50%);
                            background-position: 0;
                        }
                        .theme-checkbox:checked {
                            background-position: 100%;
                        }
                    }

                    li:nth-child(2) {
                        flex-direction: column;
                        white-space: nowrap;
                        display: flex;
                        gap: .5rem;

                        span {
                            padding: 1.2rem;
                            transition: 0.25s ease;
                            font-weight: 500;
                            line-height: 1;
                            font-size: 1.5rem;
                            border-radius: calc($radius-about-header *.7);

                            p {
                                margin-top: 0.5rem;
                                color: $paragraph-primary-color;
                                white-space: normal;
                                line-height: 1.4;
                                font-weight: 300;
                            }

                            &:hover {
                                background-color: $prymary-hover-color;
                            }
                        }
                    }
                }
                ul,
                ul * {
                    cursor: default;
                }
            }
        }
    }
}

header.header-mobile {
    border: 1px solid rgba(250, 250, 250, 0.2);
    background: $background-color2;
    border-radius: 10rem;
    margin-top: 5vw;
    width: 90vw;
    padding: 1rem $viewport-padding;
    
    &.header-no-show {
        transform:
            translate(
                -50%, calc(-100% - $viewport-padding)
            );
    }
    strong:has(> img)  img {
        height: 3.5rem;
    }

    ul li:has(> a) {
        display: none;
    }

    .about-li-hover-area {
        ul {
            margin-top: 2rem !important;
        }
    }
}

@media screen and (min-width: 1051px) {
    li.about_li_button:hover,
    li.about_li_button:focus {
        background: $prymary-hover-color;

        img {
            transform: rotate(180deg);
        }
    }
}
@media screen and (max-width: 1050px) {
    li.about_li_button[extend],
    li.about_li_button[extend] {
        background: $prymary-hover-color;

        img {
            transform: rotate(180deg);
        }
    }
}