@import 'colorMode';

h1.tittle { display: none; }
.loader[loading] {
    background-color: var(--background-color);
    position: fixed;
    z-index: 15;
    inset: 0;
    display: none;
    display: flex;
    opacity: 1;
    animation: close 1s forwards;
    animation-delay: calc($delay + .3s);

    & > .area-loader {
        /* border: 1px solid rgba(255, 0, 0, 0.257); */
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 2rem;
        margin: auto;
        gap: 3rem;

        h1.tittle {
            font-size: clamp(2.5rem, 3.5rem, 4rem) !important;
            display: flex;
            justify-content: center;
            animation: close-loading .3s ease forwards;
            animation-delay: $delay;
            overflow: hidden;

            span {
                transform: translateY(100%);
                animation: up calc($delay - .3s) ease forwards;
                animation-delay: .8s;
            }
            span:last-child {
                transform: translateY(-100%);
                animation-delay: 1s;
            }
        }

        .loading {
            width: 100%;
            height: 5px;
            border-radius: 99rem;
            opacity: 1;
            animation: close-loading .3s ease forwards;
            animation-delay: $delay;

            span {
                background-color: var(--primary-text-color);
                box-shadow: 0 0 1rem #fff, 0 0 .4rem #ffffff7b;
                border-radius: 999rem;
                display: block;
                height: 100%;
                width: 0%;
                animation: loading 3s ease forwards;
                animation-delay: 1s;
            }
        }
    }
}
@keyframes up {
    to { transform: translateY(0); }
}
@keyframes loading {
    to { width: 100%; }
}
@keyframes close-loading {
    to {opacity: 0;}
}
@keyframes close {
    0% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        display: none;
    }
}