@import 'globals';

nav {
  position: fixed;
  bottom: 50%;
  left: 3vw;
  height: 15rem;
  width: max-content;
  transform: translate(0, 50%);
  z-index: 1;

  &, * {
    transition: $transition-primary;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    a {
      $width: 1.7rem;
      width: $width;
      position: relative;
      aspect-ratio: 1;
      color: $primary-text-color;
      cursor: default;

      .ionicon {
        cursor: pointer;
      }

      &.chevron-icons {
        > .ionicon {
          transform: rotate(-90deg);
        }
        > .ionicon.chevron-icon-focus {
          transform: rotate(0);
        }

        ol {
          $distance: -9rem;
          transition: $transition-primary;
          top: calc($width + 0.5rem);
          width: calc($width * 2.1);
          flex-direction: column;
          position: absolute;
          align-items: end;
          left: $distance;
          display: flex;
          gap: 0.8rem;
  
          li {
            img {
              display: none;
            }
            .ionicon {
              position: relative;
              color: $primary-text-color;
              width: $width;
              aspect-ratio: 1;
              padding: 0.085rem;
              border-radius: 50%;
              left: 0;
              transition:
                all 0.3s ease,
                left 0.3s ease;
  
              &.visible {
                left: calc(-1 * $distance);
              }
              &.focus {
                filter:
                  drop-shadow(0 0 0.5rem $primary-text-color)
                  drop-shadow(0 0 1rem $primary-text-color);
                transform: rotate(90deg);
              }
            }

            &:nth-child(1) svg {
              transition-delay: 0s, 0s;
            }
            &:nth-child(2) svg {
              transition-delay: 0s, .03s;
            }
            &:nth-child(3) svg {
              transition-delay: 0s, .06s;
            }
            &:nth-child(4) svg {
              transition-delay: 0s, .09s;
            }
          }
        }
      }
    }

    a:nth-child(1) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;
    }
    &::after {
      content: "";
      order: 2;
      width: 0.02rem;
      height: 3rem;
      background: $primary-text-color;
      position: relative;
      border-radius: 50%;
      transition: $transition-primary;
    }
    a:nth-child(2) {
      order: 3;
    }
  }
}

header.header-mobile.header-no-show + nav {bottom: 2.5rem !important;}
header.header-mobile + nav {
  transform: translate(0) translateX(-50%);
  height: max-content;
  bottom: 2.5rem;
  left: 50%;

  ul {
    border: 1px solid rgba(250, 250, 250, 0.2);
    background: $background-color2;
    flex-direction: row;
    padding: 1.3rem 2rem;
    border-radius: 999px;
    overflow: hidden;
    
    backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
        
    &::after {
      height: 0.02rem;
      width: 3rem;
      transition: $transition-primary;
    }

    &:has(.chevron-icons ol .ionicon.visible) {
      padding: 1.3rem 5rem;
    }

    &:has(.chevron-icons ol .ionicon.visible)::after,
    &:has(.chevron-icons ol .ionicon.visible) a:nth-child(1),
    &:has(.chevron-icons ol .ionicon.visible) a #chevronIcon {
      transform: translateY(-15rem);
    }

    a {
      $width-icon-mobile: 2.5rem;
      width: $width-icon-mobile;

      &:nth-child(1) {z-index: 5;}
      &:nth-child(2) {z-index: 4;}
    
      &.chevron-icons {
        > .ionicon {
          z-index: 3;
          
          &.chevron-icon-focus {
            transform: rotate(-180deg);
          }
        }

        ol {
          top: 0;
          flex-direction: row;
          width: max-content;
          transform: translateX(0);
          z-index: -1;
          gap: 1.5rem;

          &:has(.ionicon.visible) {
            z-index: initial;
          }
          
          li {
            width: $width-icon-mobile;
            transform: translateY(10rem);
            align-items: center;
            flex-direction: column;
            position: relative;
            display: flex;
            cursor: pointer;
            transition: .3s ease, transform .3s ease;

            &:has(.ionicon.visible) {
              transform: translateY(0);
              z-index: 10;
            }

            img {
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              aspect-ratio: 1;
              width: 2rem;
            }

            .ionicon {
              width: $width-icon-mobile;
              transform: rotate(90deg);
              opacity: 0;
              transition:
                all 0.3s ease,
                transform 0.3s ease;
              
              &.chevron {width: calc($width-icon-mobile - .5rem);}

              &.visible {
                left: 0;
                transform: translateY(1.4rem) rotate(90deg);
              }
  
              &.visible.focus {
                transform: translateY(1.8rem) rotate(90deg);
                opacity: 1;
              }
            }

            &:nth-child(1) {
              transition-delay: 0s, 0s;
            }
            &:nth-child(2) {
              transition-delay: 0s, .03s;
            }
            &:nth-child(3) {
              transition-delay: 0s, .06s;
            }
            &:nth-child(4) {
              transition-delay: 0s, .09s;
            }
          }
        }
      }
    }
  }
}