@import 'globals';

.landing-reveal {
    opacity: 0;
    transition: .9s ease;
    
    &.show {
        opacity: 1;
    }
}

.itens-section {
    opacity: 0;
    transition: .4s ease;
    transform: scale(.95);

    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);

    &.show {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        -moz-filter: blur(0);
        -webkit-filter: blur(0);
    }
}

.skills-reveal {
    opacity: 0;
    transform: scale(.9);

    
    &.show {
        animation: skills-reveal .3s ease forwards;
    }
}

.scale-reveal {
    opacity: 0;
    transform: scale(.90);
    transition: .8s ease;
    
    &.show {
        transform: scale(1);
        opacity: 1;
    }
}
.scale-reveal-footer {
    opacity: 0;
    transform: scale(.90);
    transition: .4s ease;
    
    &.show {
        transform: scale(1);
        opacity: 1;
    }
}

.opacity-reveal {
    opacity: 0;
    transition: .55s ease;
    
    &.show {
        opacity: 1;
    }
}
.opacity-reveal-delay {
    opacity: 0;
    transition: .4s ease;
    
    &.show {
        opacity: 1;
    }
}

@keyframes skills-reveal {
    to {
        transform: scale(1);
        opacity: 1;
    }
}
