@import 'globals';
$width-indicator: 2.5rem;
$padding: .4rem;
$border-radius: 1.5rem;
:root {
  --projects-grid: repeat(3, 1fr);
}

body {
  background: $background-color;
  color: $primary-text-color;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
  line-height: 1;

  p { font-size: $paragraph-font-defalt;}
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  padding-inline: $viewport-padding;

  & > section {
    scroll-snap-align: start;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }
}

.section-landing {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);

  .initial-text {
    order: 1;
    z-index: 1;
    justify-self: start;
    display: flex;
    flex-direction: column;
    /* z-index: 16; */
    gap: 3rem;
    
    > .tittle-landing {
      font-size: $h1-font-defalt;
      width: max-content;
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      line-height: 1;
      height: max-content;
      font-weight: 900;
      white-space: nowrap;
      animation: move-title 4s ease forwards;
      animation-delay: 1s;

      span:nth-child(2) {
        /* width: 0; */
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        animation: loading-title 3s ease forwards;
        animation-delay: 1s;
      }
    }
    
    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      color: $paragraph-primary-color;
      line-height: 1;
    }

    .aside-text {
      display: flex;
      gap: 1rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.1;
      }
    }
    .circle_on {
      margin-top: 2.5px;
      border-radius: 50%;
      aspect-ratio: 1;
      height: 1rem;
      background-color: $paragraph-primary-color;
      filter: drop-shadow(0 0 1px $background-color);
      animation: shadow-circle 1s infinite ease;
    }
    
    a.cv_button_acess {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      gap: .5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      height: 4rem;
      width: 80%;
      border-radius: 2rem;
      font-weight: 500;
      color: $background-color;
      background: $primary-text-color;
      white-space: nowrap;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      overflow: hidden;
      transition: $transition-button;

      &:hover {
        box-shadow:
          0 .2rem 1rem #ffffff80,
          inset 0 -.5rem 2rem #05050557;
      }
      
      .arrow-icon {
        position: relative;
        margin-left: .5rem;
        height: 100%;

        & > * {
          position: absolute;
          transform: translate(0, -50%);
        }

        img:nth-child(1) {
          top: 50%;
          left: 0;
          aspect-ratio: 1;
          height: calc(100% - 1rem);
          transition: $transition-button;
        }
        img:nth-child(2) {
          top: 7rem;
          left: -5rem;
          aspect-ratio: 1;
          height: calc(100% - 1rem);
          transition: $transition-button;
        }
      }
      &:hover .arrow-icon img:nth-child(1) {
        top: -5rem;
        left: 5rem;
      }
      &:hover .arrow-icon img:nth-child(2) {
        top: 50%;
        left: 0;
      }
    }

    .contact-area {
      display: none;
      justify-content: center;
      width: 100%;

      ul {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        &, & * {
          color: $paragraph-primary-color;
          transition: .3s ease;
        }

        li a:hover {
          color:  $primary-text-color;
        }
        
        &::before,
        &::after {
          content: "";
          position: relative;
          display: inline;
          background-color: $paragraph-primary-color;
          width: 100%;
          height: 1px;
          border-radius: 99rem;
        }
      }
    }
  }

  aside {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: hidden;

    img {
      transition-delay: 1s;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      filter: contrast(110%);
      aspect-ratio: 9/14;
    }
  }

  .scroll-lading {
    z-index: 5;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translate(-50%, 0);
    
    img {
      animation: scroll_indicator 4s infinite ease-in-out forwards;
      transform: translate(0) rotate(180deg);
      cursor: pointer;
      filter:
        invert(1)
        opacity(70%)
        drop-shadow(0 0 5px #fafafa00);
      transition: .5s ease;
      animation-play-state: running;
    
      &:hover {
        animation-play-state: paused;
        filter:
          invert(1)
          opacity(100%)
          drop-shadow(0 0 5px #fafafa);
      }
    }
  }
}

.section-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden scroll;
  position: relative;
  gap: 3rem;
  
  > section {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }
  h1 {
    font-size: $h1-font-defalt;
    font-weight: 900;
  }
  
  section.about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-card {
      display: grid;
      gap: 4rem;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);

      & > * {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        
        img {
          max-width: 30rem;
          object-fit: cover;
          aspect-ratio: 3/4;
          filter: contrast(115%) saturate(150%);
        }
      }

      figure {
        display: grid;
        justify-content: center;
        overflow: hidden;
        width: max-content;
        border-radius: 3rem;
        position: relative;
        height: 100%;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          box-shadow: -3rem 0 3rem #000 inset;
        }

        img {
          border-radius: 3rem;
        }
      }

      article {
        $gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: left;
        padding: 3rem;
        gap: $gap;
        border-radius: $border-radius;
        border: $primary-border-value;
        background-color: $background-secundary-color;

        > h1 {
          font-size: $h1-font-defalt;
          white-space: nowrap;
          margin-bottom: 1rem;
        }

        p, p a {
          line-height: 1.55;
          font-weight: 300;
          color: $paragraph-primary-color;
          
          a { text-decoration: underline;}
        }
      }
    }
  }

  section.skills {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: start;
    min-height: max-content;
    padding-bottom: 20vh;

    .skills-area {
      display: grid;
      grid-template-rows: max-content 1fr;
      width: 100%;
      align-items: start;

      h2 {margin-block: 3rem 2.5rem;}

      ul.skills-area-li {
        flex-wrap: wrap;
        display: flex;
        gap: 2rem;

        li {
          $height: 12rem;
          background-color: $background-secundary-color;
          border: 1px solid $border-color;
          border-radius: 1rem;
          padding-inline: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          height: max-content;
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
          max-width: 19rem;
          height: 100%;
          max-height: $height;
          transition: filter .2s ease;

          > * {
            min-height: $height;
            max-height: $height;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            /* border: 1px solid red; */
            gap: 1rem;
          }

          .area-skill {
            margin-top: 0;
            transition: margin-top .4s ease;
          }
          &:hover .area-skill {
            margin-top: calc($height *-1);
          }

        }
      }
      &:has(li:hover) li:not(:hover) {
        filter: opacity(70%) blur(1px);
        -o-filter: opacity(70%) blur(1px);
        -ms-filter: opacity(70%) blur(1px);
        -moz-filter: opacity(70%) blur(1px);
        -webkit-filter: opacity(70%) blur(1px);
      }
    }
  }

  section.projects {
    $spacing: 2rem;
    $spacing_: $spacing * 1.2;
    flex-direction: column;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    gap: $spacing $spacing_;

    h2 {
      color: $paragraph-primary-color;
      white-space: normal;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 300;
    }
    > h2:has(i) {
      font-size: 1.4rem;
    }


    .area-projects {
      margin-top: calc($spacing / 3.5);
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
      
      a:has(>button.git-button) {
        width: max-content;
  
        button.git-button {
          background-color: $primary-text-color;
          color: $background-color;
          border-radius: 1rem;
          padding: .8rem 1.4rem;
          gap: .5rem;
          font-weight: 700;
          justify-content: center;
          align-items: center;
          max-width: max-content;
          cursor: pointer;
          display: flex;
          border: none;
          transition-duration: .2s;
    
          img {
            width: 2rem;
            aspect-ratio: 1;
          }
    
          &:hover {transform: translateY(-.2rem);}
        }
      }

      .grid-indicator {
        background-color: $background-secundary-color;
        border-radius: $padding * 1.3;
        border: $primary-border-value;
        gap: $padding * 1.1;
        padding: $padding;
        justify-content: end;
        align-items: center;
        height: max-content;
        overflow: hidden;
        display: flex;
        width: 3.48rem;
        transition: .3s ease;

        img {
          aspect-ratio: 1;
          width: 2.5rem;
          cursor: pointer;
          transition: filter .3s ease;
          filter:
            drop-shadow(
              0 0 0 rgba(250, 250, 250, 0.7));

          &:hover {
            filter:
              drop-shadow(
                0 0 4px rgba(250, 250, 250, 1));
          }
        }
        &.start {
          justify-content: start !important;
        }
        
        &.center {
          justify-content: center !important;
        }
        
        &.end {
          justify-content: end !important;
        }
        &:hover {
          width: 94.12px;
        }
      }
    }

    .projects-list {
      grid-template-columns: var(--projects-grid);
      overflow: auto hidden;
      margin-top: 2rem;
      display: grid;
      gap: 2rem;
      
      & > article {
        $gap: 2.5rem;
        $border-radius: 1.5rem;
        padding: 2.5rem;
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        gap: $gap;
        border-radius: $border-radius;
        border: $primary-border-value;
        background-color: $background-secundary-color;

        figure {
          $transition: .3s;
          border-radius: calc($border-radius / 2);
          box-shadow: 0 1rem 2.5rem #000;
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img.project-image {
            width: 100%;
            aspect-ratio: 6/3;
            object-fit: cover;
            border-radius: calc($border-radius / 2);
            position: relative;
            transform: scale(1);
            transition: $transition ease;
          }

          &::after {
            content: attr(more-info);
            position: absolute;
            font-weight: 800;
            text-shadow: 0 0 5px #000;
            font-size: 1.5rem;
            top: 30%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 7;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: 0;
            transition: $transition ease;
            background-image:
              linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, #00000000),
              linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, #00000000);
          }

          &:hover img {
            transform: scale(1.065);
            filter: blur(2.5px);
          }

          &:hover::after {
            top: 0;
            opacity: 1;
          }
        }

        figure.in-development {
          .blur {
            &::before {
              content: "";
              backdrop-filter: blur(50px);
              -o-backdrop-filter: blur(50px);
              -ms-backdrop-filter: blur(50px);
              -moz-backdrop-filter: blur(50px);
              -webkit-backdrop-filter: blur(50px);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            &::after {
              content: "Em construção...";
              transform: translate(-50%, -50%) rotate(-25deg);
              font-weight: bold;
              text-align: center;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 2;
              width: 150%;
              padding: 1rem 0;
              background-color: #ffbe0c;
              text-shadow: 0 .8rem 1rem #000000d3;
              box-shadow:
                inset 0 0 2rem rgba(0, 0, 0, 0.8),
                0 0 2.5rem #000;
            }
          }
        }

        .legend {
          padding-top: $gap;
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: .5rem;
          line-height: 1;

          h1 {
            font-size: 1.8rem !important;
          }

          p {
            color: $paragraph-primary-color;
            white-space: normal;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: 300;
          }

          a {
            color: $primary-text-color;
            margin-top: .7rem;
            font-size: 1.4rem;
          }

          &::before {
            content: ""; 
            width: 100%;
            height: 1px;
            border-radius: 999px;
            background-color: $border-color;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .button-project {
          width: 100%;
          height: max-content;
          display: flex;
          justify-content: center;
          display: flex;
          justify-content: space-between;
          gap: .2rem;
          
          a {
            width: 100%;
            
            button.git-button {
              display: flex;
              background-color: $background-color;
              border: $primary-border-value;
              border-radius: 1rem;
              padding: .8rem 1.3rem;
              width: 100%;
              gap: .5rem;
              color: $primary-text-color;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transform: scale(1);
              transition:
                background-color .2s ease,
                transform .2s ease;
              
              img {
                width: 2rem;
                aspect-ratio: 1;
              }

              &:hover {
                transform: scale(103%);
                background-color: $background-color-hover;
              }
            }
          }
        }
      }
    }
  }

  section.contact {
    flex-direction: column;
    margin-top: 6rem;
    justify-content: end;
    align-items: center;
    padding-bottom: 3.2rem;
    min-height: max-content;
    
    footer {
      background-color: $background-secundary-color;
      border: $primary-border-value;
      border-radius: 1.5rem;
      position: relative;
      width: 100%;

      .footer-text {
        flex-direction: column;
        padding: 3.4rem;
        display: flex;
        gap: 2rem;
        
        p {
          color: $paragraph-primary-color;
          font-weight: 300;
        }

        label.send-button {
          display: flex;
          background-color: $primary-text-color;
          border: none;
          border-radius: 3rem;
          padding: 1.3rem 2.5rem;
          width: max-content;
          gap: .5rem;
          color: $background-color;
          font-weight: 700;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-top: .5rem;
          font-weight: 500;
          
          a {
            position: relative;
            color: $background-color;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }

          img {
            width: 2rem;
            aspect-ratio: 1;
          }
        }
      }
      
      ul {
        padding: 2.4rem;
        border-top: 1px solid $border-color;
        justify-content: center;
        display: flex;
        gap: 1rem;
        
        li a {
          transition: $transition-primary;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          border: $primary-border-value;
          border-radius: .6rem;
          padding: .7rem;
          background-color: $background-color;
          
          img {
            aspect-ratio: 1;
            object-fit: contain;
            width: 2rem;
          }

          &:hover {
            box-shadow:
              inset 0 0 15px $box-shadow,
              0 0 10px $box-shadow;
          }
        }
      }
    }
  }
}
  

/* @keyframes loading-title {
  to {
    width: 100%;
  }
}

@keyframes move-title {
  0% {
    transform: translateX(65%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    transform: translateX(65%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

@keyframes down-more-info {
  0% {
    top: 0;
    opacity: 1;
    display: flex;
  }
  100% {
    display: flex;
    opacity: 0;
    top: 100%;
  }
}

@keyframes extend-about {
  0% {
    display: flex;
    transform: scale(.95);
    filter: opacity(0);
  }
  100% {
    display: flex;
    transform: scale(1);
    filter: opacity(100%);
  }
}
@keyframes no-extend-about {
  0% {
    display: flex;
    transform: scale(1);
    filter: opacity(100%);
  }
  100% {
    display: none;
    transform: scale(.95);
    filter: opacity(0);
  }
}
@keyframes shadow-circle {
  0%, 100% {
    filter:
    drop-shadow(0 0 0 #ffffff00)
  }
  50% {
    filter:
      drop-shadow(0 0 5px #ffffffc6)
  }
}
@keyframes scroll_indicator {
  0%, 35%, 75%, 100% { transform: translate(0) rotate(180deg); }
  15%, 55% { transform: translate(0, 1rem) rotate(180deg); }
}
@keyframes slide-out {
  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slide-in-toTop {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes width {
  to { width: $width-indicator*3 + $padding * 6; }
}
@keyframes width-out {
  to {
    width: $width-indicator + $padding * 2 ;
  }
}

@media screen and (min-width: 600px) and (max-width: 1050px) {
  ul.skills-area-li {
    justify-content: start;
  }
}
@media screen and (max-width: 1050px) {
  :root {
    --projects-grid: repeat(2, 1fr);
  }
  $viewport-padding: 7vw;
  
  .tittle-landing {
    width: 100% !important;
  }

  header.header-mobile {
    padding: 1rem $viewport-padding;
  }

  main {
    padding-inline: $viewport-padding;
  }

  .grid-indicator {
    justify-content: center !important;
  }
  
  .area-projects:has(.end) ~ .projects-list .button-project {
    flex-direction: column;
  }

  section.about {
    align-items: start !important;
    padding-block: 6vh;
    min-height: max-content;
    
    .about-card {
      flex-direction: column;
      display: flex !important;
    }
  }

  .scroll-lading {
    bottom: 7rem;
    display: none;
  }
  
  section.projects {
    .projects-list {
      grid-template-columns: var(--projects-grid) !important;
    }
  }

  section.contact {
    margin-block: 5rem;
    padding-bottom: 6rem !important;
  }
}
@media screen and (max-width: 768px) {
  $h1-font-defalt: 3.7rem !important;
  $paragraph-font-defalt: 1.5rem;

  .section-main h1,
  .tittle-landing,
  .about-card article > h1 {
    font-size: $h1-font-defalt;
  }

  ul.skills-area-li {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    display: grid !important;

    li {
      max-width: 100% !important;
    }
  }
  .section-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .initial-text {
      order: 2;
      gap: 1.3rem;
      width: 100%;
      
      strong > h1 {
        text-align: center;
        max-width: 45rem;
        min-width: 100%;
      }
      
      .aside-text {
        max-width: 45rem;
        justify-content: center;
        margin: 1.5rem auto;
      }

      h3 {
        max-width: 45rem;
        min-width: 100%;
        text-align: center;
      }

      .cv_button_acess { width: 100% !important; }

      .contact-area { display: flex; }
    }

    aside {
      order: 1;
      width: 100%;
      max-height: 40vh;
      display: flex;
      align-items: start;
      
      img {
        width: 70%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 515px) {
  $h1-font-defalt: 3.5rem;

  .section-main h1,
  .tittle-landing,
  .about-card article > h1 {
    font-size: $h1-font-defalt !important;
  }
}

@media screen and (max-width: 470px) {
  :root {
    --projects-grid: 1fr;
  }
  $h1-font-defalt: 2.2rem;

  .grid-indicator {
    justify-content: start !important;
  }

  .section-main h1,
  .tittle-landing,
  .about-card article > h1 {
    font-size: $h1-font-defalt !important;
  }

  h2 {
    font-size: $h1-font-defalt * .7;
  }
  section.projects {
    .projects-list {
      grid-template-columns: var(--projects-grid) !important;
    }
  }
}

@media screen and (max-height: 700px) {
  aside.landing-reveal {
    margin-top: -5rem;
  }

  .mobile-cursor-indicator {
    scale: .6;
  }
}