body.light {
  --border-color: #e5e7eb;
  --primary-border-value: 1px solid rgba(229, 231, 235, 0.1607843137);
  --first-color: #94806b;
  --text-color-black: #292623;
  --paragrafy-color: #9d9d9d;
  --background-info-projects: #c7c7c7;
  --background-color: #dedede;
  --background-color2: rgba(0, 0, 0, 0.0196078431);
  --background-secundary-color: #4f5053;
  --background-hover-color: #e0e0e0;
  --prymary-hover-color: #d0d0d0;
  --primary-text-color: #7f7f7f;
  --paragraph-primary-color: #9d9d9d;
  --image-filter: invert(0);
}
body.dark {
  --border-color: rgba(229, 231, 235, 0.1607843137);
  --primary-border-value: 1px solid rgba(229, 231, 235, 0.1607843137);
  --first-color: #94806b;
  --text-color-black: #292623;
  --paragrafy-color: #9d9d9d;
  --background-info-projects: #222;
  --background-color: #000;
  --background-color2: rgba(255, 255, 255, 0.0196078431);
  --background-secundary-color: #121212;
  --background-hover-color: #09090b;
  --prymary-hover-color: #27272a;
  --primary-text-color: #fafafa;
  --paragraph-primary-color: #b2b2b6;
  --image-filter: invert(1);
}

header {
  border-bottom: 0.05rem solid var(--prymary-hover-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 2.5rem 15vw;
  transition: 0.3s ease;
  background: var(--background-color2);
  width: 100vw;
  justify-content: space-between;
  transform: translate(-50%, 0);
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 2;
  left: 50%;
  top: 0;
}
header.header-no-show {
  transform: translate(-50%, -100%);
}
header strong {
  display: flex;
  align-items: center;
}
header strong img {
  height: 5rem;
  margin-right: 0.5rem;
  object-fit: contain;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 2px #fff);
}
header strong,
header ul li {
  font-size: 1.3rem;
  font-weight: 800;
}
header > ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
header > ul * {
  cursor: pointer;
  color: var(--primary-text-color);
}
header > ul li:has(> a) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.4rem;
  border-radius: 0.7rem;
  transition: 0.25s ease;
}
header > ul li:has(> a):hover {
  background: var(--prymary-hover-color);
}
header > ul li.about_li_button {
  position: relative;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.4rem;
  border-radius: 0.7rem;
}
header > ul li.about_li_button img {
  margin-left: 0.3rem;
  width: 1.2rem;
}
header > ul li.about_li_button * {
  transition: 0.25s ease;
}
header > ul li.about_li_button:not([extend]) .about-li-hover-area {
  animation: no-extend-about 0.2s ease forwards;
}
header > ul li.about_li_button .about-li-hover-area {
  position: absolute;
  cursor: default;
  top: 100%;
  right: 0;
}
header > ul li.about_li_button .about-li-hover-area ul {
  width: 30rem;
  margin-top: 1rem;
  flex-direction: column;
  border: 1px solid rgba(229, 231, 235, 0.1607843137);
  padding: 1.6rem;
  border-radius: 0.5rem;
  background: var(--background-hover-color);
  animation: extend-about 0.2s ease forwards;
}
header > ul li.about_li_button .about-li-hover-area ul li:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header > ul li.about_li_button .about-li-hover-area ul li:nth-child(1) .theme-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.5rem;
  height: 2.2rem;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
header > ul li.about_li_button .about-li-hover-area ul li:nth-child(1) .theme-checkbox::before {
  content: "";
  width: 1.3rem;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  transform: translate(0.45rem, -50%);
  left: 0;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header > ul li.about_li_button .about-li-hover-area ul li:nth-child(1) .theme-checkbox:checked::before {
  left: 100%;
  transform: translate(calc(-100% - 0.45rem), -50%);
  background-position: 0;
}
header > ul li.about_li_button .about-li-hover-area ul li:nth-child(1) .theme-checkbox:checked {
  background-position: 100%;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended {
  flex-direction: column;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended .line {
  display: block;
  height: 1px;
  width: 100%;
  border-radius: 50%;
  margin-block: 0.5rem;
  background-color: rgba(229, 231, 235, 0.1607843137);
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span {
  padding: 1.2rem;
  transition: 0.25s ease;
  font-weight: 500;
  line-height: 1;
  font-size: 1.5rem;
  border-radius: 0.35rem;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span p {
  margin-top: 0.5rem;
  color: var(--paragraph-primary-color);
  white-space: normal;
  line-height: 1.4;
  font-weight: 300;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child {
  text-align: center;
  position: relative;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child ul {
  pointer-events: none;
  filter: opacity(0);
  transform: scale(0.9);
  animation: no-extend-shortcut 0.2s ease forwards;
  position: absolute;
  right: calc(100% + 2.08rem);
  bottom: -1.6rem;
  width: max-content;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(229, 231, 235, 0.1607843137);
  background: var(--background-hover-color);
  gap: 1rem;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child ul li {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  display: flex;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child ul li h1 {
  font-weight: 500;
  font-size: 1.6rem;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child ul li i {
  margin-top: 0.2rem;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:last-child:hover ul {
  animation: extend-shortcut 0.2s ease forwards;
}
header > ul li.about_li_button .about-li-hover-area ul .about-extended span:hover {
  background-color: var(--prymary-hover-color);
}
header > ul li.about_li_button .about-li-hover-area ul,
header > ul li.about_li_button .about-li-hover-area ul * {
  cursor: default;
}

header.header-mobile {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 10rem;
  margin-top: 5vw;
  width: 90vw;
  padding: 1rem 15vw;
}
header.header-mobile.header-no-show {
  transform: translate(-50%, calc(-100% - 15vw));
}
header.header-mobile strong:has(> img) img {
  height: 3.5rem;
}
header.header-mobile ul li:has(> a) {
  display: none;
}
header.header-mobile .about-li-hover-area ul {
  margin-top: 2rem !important;
}

@keyframes extend-about {
  0% {
    display: flex;
    transform: scale(0.95);
    filter: opacity(0);
  }
  100% {
    display: flex;
    transform: scale(1);
    filter: opacity(100%);
  }
}
@keyframes no-extend-about {
  0% {
    display: flex;
    transform: scale(1);
    filter: opacity(100%);
  }
  100% {
    display: none;
    transform: scale(0.95);
    filter: opacity(0);
  }
}
@keyframes extend-shortcut {
  to {
    filter: opacity(1);
    transform: scale(1);
  }
}
@keyframes no-extend-shortcut {
  to {
    filter: opacity(0);
    transform: scale(0.9);
  }
}
@media screen and (min-width: 1051px) {
  li.about_li_button:hover,
  li.about_li_button:focus {
    background: var(--prymary-hover-color);
  }
  li.about_li_button:hover img,
  li.about_li_button:focus img {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 1050px) {
  li.about_li_button[extend],
  li.about_li_button[extend] {
    background: var(--prymary-hover-color);
  }
  li.about_li_button[extend] img,
  li.about_li_button[extend] img {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=header.css.map */
