body.light {
  --border-color: #e5e7eb;
  --primary-border-value: 1px solid rgba(229, 231, 235, 0.1607843137);
  --first-color: #94806b;
  --text-color-black: #292623;
  --paragrafy-color: #9d9d9d;
  --background-info-projects: #c7c7c7;
  --background-color: #dedede;
  --background-color2: rgba(0, 0, 0, 0.0196078431);
  --background-secundary-color: #4f5053;
  --background-hover-color: #e0e0e0;
  --prymary-hover-color: #d0d0d0;
  --primary-text-color: #7f7f7f;
  --paragraph-primary-color: #9d9d9d;
  --image-filter: invert(0);
}
body.dark {
  --border-color: rgba(229, 231, 235, 0.1607843137);
  --primary-border-value: 1px solid rgba(229, 231, 235, 0.1607843137);
  --first-color: #94806b;
  --text-color-black: #292623;
  --paragrafy-color: #9d9d9d;
  --background-info-projects: #222;
  --background-color: #000;
  --background-color2: rgba(255, 255, 255, 0.0196078431);
  --background-secundary-color: #121212;
  --background-hover-color: #09090b;
  --prymary-hover-color: #27272a;
  --primary-text-color: #fafafa;
  --paragraph-primary-color: #b2b2b6;
  --image-filter: invert(1);
}

.mobile-cursor-indicator.attach {
  opacity: 0;
}
.mobile-cursor-indicator.attach, .mobile-cursor-indicator.attach * {
  animation-play-state: running;
}

.mobile-cursor-indicator {
  transition: opacity 0.3s ease;
  display: none;
  position: fixed;
  bottom: 5vw;
  right: var(--viewport-padding);
  z-index: 9;
  transform: scale(0.8);
  opacity: 0.72;
}
.mobile-cursor-indicator, .mobile-cursor-indicator * {
  animation-play-state: paused;
}
.mobile-cursor-indicator .area-indicator-children {
  position: relative;
  /* border: 1px solid blue; */
}
.mobile-cursor-indicator .area-indicator-children .arrow-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  right: 90%;
  overflow: hidden;
  /* border: 1px solid red; */
  gap: 200%;
}
.mobile-cursor-indicator .area-indicator-children .arrow-area > img {
  position: absolute;
  top: 100%;
}
.mobile-cursor-indicator .area-indicator-children .arrow-area > img:first-child {
  animation: arrow-top-first 2s ease infinite;
}
.mobile-cursor-indicator .area-indicator-children .arrow-area > img:last-child {
  animation: arrow-top-last 2s ease infinite;
}
.mobile-cursor-indicator .area-indicator-children .touch {
  position: relative;
  top: 0;
  transform: rotate(-35deg);
  animation: indicator 2s ease infinite;
}

@keyframes indicator {
  0%, 35%, 70%, 100% {
    transform: rotate(-35deg);
    top: 0;
  }
  20%, 55% {
    transform: rotate(-60deg);
    top: 1rem;
  }
}
@keyframes indicator {
  0%, 50%, 100% {
    transform: rotate(-35deg);
    top: 0;
  }
  25%, 75% {
    transform: rotate(-60deg);
    top: 1rem;
  }
}
@keyframes arrow-top-first {
  0%, 25% {
    top: 100%;
    opacity: 0;
    transform: scale(0);
  }
  37% {
    opacity: 1;
    transform: scale(1);
  }
  50%, 100% {
    transform: scale(0);
    opacity: 0;
    top: -100%;
  }
}
@keyframes arrow-top-last {
  0%, 75% {
    top: 100%;
    opacity: 0;
    transform: scale(0);
  }
  87% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
    top: -100%;
  }
}
@media screen and (max-width: 1050px) {
  .mobile-cursor-indicator {
    display: flex;
  }
}

/*# sourceMappingURL=scroll-indicator.css.map */
